*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.greetings__container{
    max-width: 1324px;
    height: 202px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 470px 854px;
}

.greetings__img{
    padding: 37px 21px 5px 21px;
}

.greetings__txt{
    padding: 96px 112px 95px 111px;
    /* font-family: 'roboto';
    font-variation-settings: "wght" 500; */
}

.greetings__txt__h1{
    font-family: 'Playfair Display';
    font-size: 48px;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
}

.reetings__txt__h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

.reetings__txt__p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

body{

}

